@function rythm-units($number) {
  @return $leading * $size-text * $number;
}

@function rythm-units-desktop($number) {
  @return $leading-desktop * $size-text-desktop * $number;
}

@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $c-black;
  animation-name: loading;
  animation-duration: 1000ms;

  &--caseStudy {
    height: initial;
    width: initial;
    position: initial;
    display: block;
    padding: rythm-units(3) rythm-units(1);
    overflow-x: hidden;

    @include tablet {
      width: 75vw;
      max-width: 750px;
      padding: rythm-units(4) rythm-units(1);
    }

    @include desktop {
      padding: rythm-units-desktop(4) rythm-units-desktop(1);
    }
  }

  &::before {
    @include pseudo;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $c-black;
    z-index: -3;
  }

  &::after {
    @include pseudo;

    height: 100%;
    width: 100%;
    background-image: url("../assets/images/noise.svg");
    background-size: 20vmin;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.3;
  }

  &__wrapper {
    height: 75vh;
    width: 80vw;
    position: relative;
    top: -10px;

    @include desktop {
      height: 60vh;
      width: 45vw;
      max-width: 1024px;
    }

    &--header {
      height: initial;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 10px;
      z-index: 4;

      @include desktop {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }
  }
}

.section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &--overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    justify-content: flex-end;
    z-index: 3;

    &::before {
      content: "";
      position: fixed;
      height: 100vh;
      width: 100vw;
      opacity: 0;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: -1;
      transition: opacity 350ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &--footer {
    margin-top: rythm-units(4);
    margin-bottom: rythm-units(1);

    @include tablet {
      margin-top: rythm-units(5);
      margin-bottom: rythm-units(2);
    }

    @include desktop {
      margin-top: rythm-units-desktop(5);
      margin-bottom: rythm-units-desktop(1);
    }
  }

  &--case {
    margin-bottom: rythm-units(2.5);

    .link {
      margin-top: rythm-units(2);

      @include desktop {
        margin-top: rythm-units-desktop(2);
      }
    }

    @include tablet {
      margin-bottom: rythm-units(3.5);
    }
  }
}

.photo {
  display: none;
  background-image: url("../assets/images/portrait.jpg");
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 50%;
  z-index: -1;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;

  @include desktop {
    display: block;
  }
}

.footerMenu {
  text-align: center;

  &__strong {
    font-weight: 600;
    margin-bottom: rythm-units(1);
    display: block;

    @include desktop {
      margin-bottom: rythm-units-desktop(1);
    }
  }

  &__list {
    margin-bottom: rythm-units(2);

    @include desktop {
      margin-bottom: rythm-units-desktop(2);
    }
  }

  &__listItem {
    line-height: 1;
  }
}

.menuOpen {
  .section {
    &--overlay {
      opacity: 1;
      visibility: visible;

      &::before {
        opacity: 1;
      }
    }
  }
}

.container--caseStudy {
  &::after {
    position: fixed;
  }

  .container {
    &__wrapper {
      &--header {
        display: block;
        width: 100%;
        margin-bottom: rythm-units(2);
        top: initial;

        @include desktop {
          margin-bottom: rythm-units-desktop(2);
        }
      }
    }
  }
}

.image {
  width: 100vw;
  height: auto;
  object-fit: cover;
  position: relative;
  margin-top: rythm-units(1);
  margin-bottom: rythm-units(2);
  display: block;
  left: rythm-units(-1);

  @include tablet {
    left: -12.5vw;
    margin-top: rythm-units(2);
    margin-bottom: rythm-units(3);
  }

  @include desktop {
    width: 160%;
    left: -30%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  + .title--small {
    margin-top: 0;
  }
}

// .container--load {
//   opacity: 1;
// }

// .section--content {
//   flex-direction: column;
//   transition: visibility 350ms, opacity 350ms cubic-bezier(0.23, 1, 0.32, 1);
// }

// .section--opacity {
//   opacity: 0.1;
// }

// .section--open {
//   visibility: visible;
// }

// .section--open::before {
//   opacity: 1;
// }

// .section--overlay p,
// .section--overlay .section__links {
//   position: relative;
//   top: 20px;
//   opacity: 0;
//   transition: transform 350ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1);
// }

// .section--open p,
// .section--open .section__links {
//   transform: translateY(-20px);
//   opacity: 1;
// }
